
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

<title>Estado del Item</title>

{% block title %}
    <h1><h1><a class="btn btn-primary" href="{% url 'gestion:detallesFase' item.fase.id_Fase %}" role="button">Volver Atras</a>Cambiar estado de proyecto</h1>
            <div class="center">

              <h4>-------------------------------------------------------------------</h4>
                <h5>Estado del item actual: ----> {{item.estado}} <-----</h5>
              <h4>-------------------------------------------------------------------</h4>
            </div>

{% endblock title%}
<style>
    div.w-33 {
  width: 33.33%;
  background-color: orange;
}

div.center {
  text-align: center;
}

button {}
</style>

      <div class="jumbotron">

{% block interno %}
                  <div class="center">
                      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#basicExampleModal">Ayuda sobre estados de proyecto</button>
                </div>

        <form method="POST" action="">{% csrf_token %}
          {{ form.as_p }}
             <input class="btn btn-primary" type="submit"  value="Guardar nuevo estado">
        </form>
{% endblock interno %}
          </div>

            <!-- Modal -->
            <div class="modal fade" id="basicExampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
              aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"><h5>Ayuda sobre la selección del estado</h5></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">

                    <h6>1- CREADO: Estado automático al crear el proyecto, no se podrá volver a este estado manualmente</h6>
                    <h6>2- INICIADO: Al iniciar un proyecto se podra trabajar sobre el proyecto, no habrá vuelta atrás</h6>
                    <h6>3- CANCELADO: Recuerde, al cancelar un proyecto ya no podra realizar acciones sobre el proyecto ni cambiar nuevamente a otro estado</h6>
                    <h6>4- FINALIZADO: Para finalizar el proyecto debe de cumplir ciertas restricciones:</h6>
                    <h7>* Las fases aprobadas</h7>
                    <h7></h7>
                      <h6>...</h6>      </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>



