
{% extends 'Menu/base.html' %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

{% block title %}
<title>Modificar Estado Item</title>
{% endblock title%}

<style>
    div.w-33 {
  width: 33.33%;
  background-color: orange;
}

div.center {
  text-align: center;
}

button {}
</style>

{% block titulo_proyecto %}
<div class="card shadow mb-4">
  <!-- Card Header - Dropdown -->
  <div class="card-body">

    <table class="table table-striped table-hover">
      <thead>
        <td>NOMBRE DE PROYECTO</td>
        <td>DESCRIPCION</td>
        <td>ESTADO</td>
      </thead>
      <tbody>
        <td>{{proyectos.nombre}}</td>
        <td>{{proyectos.descripcion}}</td>
        <td>{{proyectos.estado}}</td>
        </tr>

      </tbody>
    </table>
  </div>
</div>
{% endblock titulo_proyecto%}

{% block interno %}
<div class="jumbotron">
  <table class="table table-striped">
    <td><a class="btn btn-danger" href="{% url 'gestion:detallesFase' item.fase.id_Fase %}" role="button">Volver Atras</a></td>
    <td><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#basicExampleModal">Ayuda</button></td>
    <td>
      <h4 text-align = "right">Estado Actual: {{item.estado}}</h4>   
    </td>
  </table>
  <div class="center"><h1>Cambiar Estado del Item</h1></div>
  <form method="POST" action="">
    {% csrf_token %}
    
    {{ form.as_p }}
    
    <input class="btn btn-primary" type="submit"  value="Guardar nuevo estado">
  </form>
</div>  
{% endblock interno %}
          </div>

            <!-- Modal -->
            <div class="modal fade" id="basicExampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
              aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"><h5>Ayuda</h5></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">

                    <h6>1- CREADO: Estado automático al crear el proyecto, no se podrá volver a este estado manualmente</h6>
                    <h6>2- INICIADO: Al iniciar un proyecto se podra trabajar sobre el proyecto, no habrá vuelta atrás</h6>
                    <h6>3- CANCELADO: Recuerde, al cancelar un proyecto ya no podra realizar acciones sobre el proyecto ni cambiar nuevamente a otro estado</h6>
                    <h6>4- FINALIZADO: Para finalizar el proyecto debe de cumplir ciertas restricciones:</h6>
                    <h7>* Las fases aprobadas</h7>
                    <h7></h7>
                      <h6>...</h6>      </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>



