{%extends 'proyectos/base.html'%}
{%block imports%}
    {% load guardian_tags %}
{%endblock%}

<html lang="en">
<head>
    <meta charset="UTF-8">
    {%block title%}
        <title>Atributos de item</title>
    {%endblock%}

</head>
<body>
                {%block volver_atras %}
                {%endblock %}




{%block interno%}
                <form method="POST" action="" onSubmit="return enviado()" enctype="multipart/form-data">{% csrf_token %}

                <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->

                   <div class="card-body">
                       <center>
                                <h6 class="navy" >Puede cambiar los valores del ítem si desea, recuerde que se generará una nueva versión del ítem</h6>
                       </center>
                       <style>
                           .navy{
                               color: cornflowerblue;
                           }
                       </style>
                       <table class="table table-striped table-hover">
                                <thead>
                                            <td>NOMBRE DE ITEM</td>
                                            <td>DESCRIPCION</td>
                                            <td>ESTADO</td>
                                            <td>COSTO</td>
                                </thead>
                                <tbody>
                                    <td><input class="form-control" placeholder="Ingrese nombre" {% if ver %} readonly {% endif %} type="text" name="item_nombre" step="any" value="{{item.nombre}}" required></td>
                                    <td><input class="form-control" placeholder="Ingrese descripción" {% if ver %} readonly {% endif %} type="text" name="item_descripcion" step="any" value="{{item.descripcion}}" required></td>
                                    <td><input class="form-control" type="text" name="item_estado" readonly value="{{item.estado}}" required></td>
                                    <td><input class="form-control"  placeholder="Ingrese costo" {% if ver %} readonly {% endif %} type="number" name="item_costo" step="any" value="{{item.costo}}" required></td>

                                </tbody>

                            </table>
                        </div>
                </div>
    {% load guardian_tags %}
    {% get_obj_perms request.user for proyectos as "proyecto_perms" %}
              <!-- Dropdown Card Example -->
              <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">Atributos de item</h6>

                  <h6 class="m-0 font-weight-bold text-primary"><a class="btn btn-primary" href="javascript:history.back()" role="button">Volver Atras</a></h6>

                </div>
                <!-- Card Body -->
                <div class="card-body">
                    {% if not atributos %}
                        <div class="alert alert-info">No hay atributos del item</div>
                    {% else %}


                        <table class="table table-striped table-hover">
                            <thead>

                                <td>NOMBRE DE ATRIBUTO</td>
                                <td>TIPO DE DATO</td>
                                <td>ES OBLIGATORIO?</td>
                                <td>VALORES</td>
                            </thead>
                            <tbody>
                            
                                  {% for atributos in atributos%}
                                                {% for atributo in atributo%}
                                                    {% if atributos.idAtributoTI.id_atributo == atributo.id_atributo%}
                                                        <tr>

                                                                <td>{{atributo.nombre}}</td>
                                                                <td>{{atributo.tipo_dato}}</td>
                                                                <td>{{atributo.es_obligatorio}}</td>


                                            {%if atributo.tipo_dato == 'File' and atributo.es_obligatorio == true %}
                                                            <td>

                                                                <a class="btn btn-circle btn-primary" href="{% url 'gestion:DescargarArchivo' atributos.id_atributo%}"  ><i class="fas fa-download"></i></a>

                                                    {% if not  ver %}
                                                    <input placeholder="Ingrese el valor"  type="File" name="{{atributos.id_atributo}}" >
                                                    {% endif %}
                                                            </td>

                                                            {%endif%}
                                            {%if atributo.tipo_dato == 'File' and atributo.es_obligatorio == false %}
                                                <td>
                                                    <a class="btn btn-secondary" href="{% url 'gestion:DescargarArchivo' atributos.id_atributo%}" role="button" >DESCARGAR</a>
                                                    {% if not  ver %}
                                                    <input placeholder="Ingrese el valor"  type="File" name="{{atributos.id_atributo}}" >
                                                    {% endif %}
                                                </td>

                                            {%endif%}
                                            {%if atributo.tipo_dato == 'Decimal' and atributo.es_obligatorio == true %}
                                                <td><input placeholder="Ingrese el valor" class="form-control"   {% if ver %} readonly {% endif %} type="number" name="Decimal" step="any" value="{{atributos.valor}}" required></td>
                                            {%endif%}
                                            {%if atributo.tipo_dato == 'Decimal' and atributo.es_obligatorio == false %}
                                                <td><input placeholder="Ingrese el valor" class="form-control"   {% if ver %} readonly {% endif %} value="{{atributos.valor}}" type="number" name="Decimal" step="any" ></td>
                                            {%endif%}
                                            {%if atributo.tipo_dato == 'Date' and atributo.es_obligatorio == true %}
                                                <td><input placeholder="Ingrese el valor" class="form-control"   {% if ver %} readonly {% endif %} value="{{atributos.valor}}" type="date" name="Date" required></td>
                                            {%endif%}
                                            {%if atributo.tipo_dato == 'Date' and atributo.es_obligatorio == false %}
                                                <td><input placeholder="Ingrese el valor" class="form-control"   {% if ver %} readonly {% endif %} value="{{atributos.valor}}" type="date" name="Date"></td>
                                            {%endif%}
                                            {%if atributo.tipo_dato == 'String' and atributo.es_obligatorio == true %}
                                                <td><input placeholder="Ingrese el valor" class="form-control"   {% if ver %} readonly {% endif %} value="{{atributos.valor}}" type="text" name="String" required></td>
                                            {%endif%}
                                            {%if atributo.tipo_dato == 'String' and atributo.es_obligatorio == false %}
                                                <td><input placeholder="Ingrese el valor" class="form-control"   {% if ver %} readonly {% endif %} value="{{atributos.valor}}" type="text" name="String"></td>
                                            {%endif%}
                                            {%if atributo.tipo_dato == 'Boolean'%}
                                                    <td>
                                                        <STRONG>SELECCIONE</STRONG>
                                                        <select class="form-control"    {% if ver %} readonly {% endif %} name="Boolean" >
                                                        <option class="form-control"   {% if ver %} readonly {% endif %} value="{{atributos.valor}}" >{{atributos.valor}}</option>
                                                        <option class="form-control"   {% if ver %} readonly {% endif %} value="True" >True</option>
                                                        <option class="form-control"   {% if ver %} readonly {% endif %} value="False">False</option>
                                                        </select>
                                                    </td>
                                            {%endif%}
                                                        </tr>
                                                    {%endif%}
                                                {%endfor%}
                                            {%endfor%}
                            </tbody>
                        </table>
                    {% if not ver %}
                    <input type="submit" class="form-control btn-primary" value="Modifica y dale click aqui para cambiar los valores">

                    <a class="form-control btn-warning" href="{% url 'gestion:solicitud_cambio' item.id_item %}"><center><strong>Ítem en LB, ¿Realizar Solicitud de Cambio?</strong></center></a>

                    {% endif %}

                    {% endif %}
                </div>
              </div>
    <script>
  // Call the dataTables jQuery plugin
  $(document).ready(function() {
    $('.table').DataTable({
      "language": {
        "sProcessing": "Procesando...",
        "sLengthMenu": "Mostrar _MENU_ registros",
        "sZeroRecords": "No se encontraron resultados",
        "sEmptyTable": "Ningún dato disponible en esta tabla",
        "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
        "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
        "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
        "sInfoPostFix": "",
        "sSearch": "Buscar:",
        "sUrl": "",
        "sInfoThousands": ",",
        "sLoadingRecords": "Cargando...",
        "oPaginate": {
            "sFirst": "<span class='fa fa-angle-double-left'></span>",
            "sLast": "<span class='fa fa-angle-double-right'></span>",
            "sNext": "<span class='fa fa-angle-right'></span>",
            "sPrevious": "<span class='fa fa-angle-left'></span>"
        },
        "oAria": {
            "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
            "sSortDescending": ": Activar para ordenar la columna de manera descendente"
        }
      }
    });
  });
  </script>
                     </form>

                {%endblock%}

