{% extends 'proyectos/base.html' %}


{% block volver_atras %}

{% endblock %}

{% block interno %}

<form method="post" >
    {% csrf_token %}
<div class="card shadow mb-4">
    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <h7 class="navy" > Relación Item</h7>
        {% if version  %}
            <a class="btn btn-primary" href="{% url 'gestion:versiones_item' item.id_item%}" role="button"><i class="fas fa-undo-alt"></i> Volver Atras</a>
        {% else %}
            <a class="btn btn-primary" href="{% url 'gestion:detallesFase' item.fase.id_Fase%}" role="button"><i class="fas fa-undo-alt"></i> Volver Atras</a>
        {% endif %}
    </div>
    <div class="card-body">
    <h7 class="navy" > * Seleccione un Item y la dirección que desea para la relación<br></h7>
    <h7 class="navy" > * Tenga en cuenta que:<br></h7>
    <h7 class="navy" > 1- No debe haber ciclos<br></h7>
    <h7 class="navy" > 2- Todos los items deben de contar con relación directa o indirecta a la fase 1<br></h7>
    <h7 class="navy" > 3- Los items de fases anteriores se listarán solo los que esten en Linea Base<br></h7>
    <h7 class="navy" > 4- Los items de fases posteriores solo se podrán relacionar si el item actual se encuentra en Linea Base, caso contrario no se mostraran<br></h7>
    <h7 class="navy" > 5- Se mostrarán todos los items de la fase actual<br></h7>

        <div class="content">

            <!-- Sección Superior -->
            <div class="row">

                <table class="table table-striped table-hover">
                    <thead>

                    <td><center>ITEM ACTUAL</center></td>
                    <td><center>DESCRIPCION</center></td>
                    <td><center>ESTADO</center></td>
                    <td><center>COSTO</center></td>
                    <td><center>FASE</center></td>

                    </thead>
                    <tbody>
                    <td><input class="form-control" placeholder="Ingrese nombre"  readonly  type="text" name="item_nombre" step="any" value="{{item.nombre}}" required></td>
                    <td><input class="form-control" placeholder="Ingrese descripción" readonly type="text" name="item_descripcion" step="any" value="{{item.descripcion}}" required></td>
                    <td><input class="form-control" type="text" name="item_estado" readonly value="{{item.estado}}" required></td>
                    <td><input class="form-control"  placeholder="Ingrese costo" readonly  type="number" name="item_costo" step="any" value="{{item.costo}}" required></td>
                    <td><input class="form-control"  placeholder="Ingrese costo" readonly  type="text" name="fas" step="any" value="{{item.fase.nombre}}" required></td>
                    </tbody>

                </table>
                <div class="navy form-control" >Lista de Relaciones Actuales del Item:<h7 class="red" > {{item.nombre}}</h7></div>
                <br>
                <br>
                {% for items in inicio%}

                <table >
                    <tr>

                        <td>
                            <input class="form-control" placeholder="Ingrese nombre"  readonly  type="text" name="item_nombre" step="any" value="{{item.nombre}}" required>
                        </td>
                        <td>
                            <select name="direccion"  class="form-control">
                                {% if items.fase_id > item.fase.id_Fase %}
                                    <option value="1">Inicio ---> Fin</option>
                                    <option value="3">Quitar Relación </option>
                                {% elif items.fase_id < item.fase.id_Fase %}
                                    <option value="2">Fin <--- Inicio</option>
                                    <option value="3">Quitar Relación </option>
                                {% else %}
                                    <option value="1">Inicio ---> Fin</option>
                                    <option value="3">Quitar Relación </option>
                                    <option value="22">Fin <--- Inicio</option>
                                {% endif %}
                            </select>
                        </td>
                        <td>
                            <select name="item"  class="form-control">
                                <option value="{{items.id}}">{{items.name}} | Fase: {{ items.fase }}</option>
                                {% for item in todos_actual %}
                                <option value="{{item.id_item}}">{{ item.nombre }} | Fase: {{ item.fase.nombre }}  </option>
                                {% endfor %}
                                {% for item in todos_ant %}
                                <option value="{{item.item.id_item}}">{{ item.item.nombre }} | Fase: {{ item.item.fase.nombre }}  </option>
                                {% endfor %}
                                {% for item in todos_sig %}
                                <option value="{{item.id_item}}">{{ item.nombre }} | Fase: {{ item.fase.nombre }}  </option>
                                {% endfor %}
                            </select>
                        </td>

                    </tr>

                </table>
            {% endfor %}
            {% for items in fin%}
                <table >
                    <tr>

                        <td>
                            <input class="form-control" placeholder="Ingrese nombre"  readonly  type="text" name="item_nombre" step="any" value="{{item.nombre}}" required>
                        </td>
                        <td>
                            <select name="direccion" class="form-control">
                                {% if items.fase_id > item.fase.id_Fase %}
                                    <option value="1">Inicio ---> Fin</option>
                                    <option value="3">Quitar Relación </option>
                                {% elif items.fase_id < item.fase.id_Fase %}
                                    <option value="2">Fin <--- Inicio</option>
                                    <option value="3">Quitar Relación </option>
                                {% else %}
                                    <option value="2">Fin <--- Inicio</option>
                                    <option value="11">Inicio ---> Fin</option>
                                    <option value="3">Quitar Relación </option>
                                {% endif %}
                            </select>
                        </td>
                        <td>
                            <select name="item"  class="form-control">
                                <option value="{{items.id}}">{{items.name}} | Fase: {{ items.fase }}</option>
                                {% for item in todos_actual %}
                                <option value="{{item.id_item}}">{{ item.nombre }} | Fase: {{ item.fase.nombre }}  </option>
                                {% endfor %}
                                {% for item in todos_ant %}
                                <option value="{{item.item.id_item}}">{{ item.item.nombre }} | Fase: {{ item.item.fase.nombre }}  </option>                                {% endfor %}
                                {% for item in todos_sig %}
                                <option value="{{item.id_item}}">{{ item.nombre }} | Fase: {{ item.fase.nombre }}  </option>
                                {% endfor %}
                            </select>
                        </td>
                    </tr>
                </table>
            {% endfor %}
                <br>
                <br>
                <div class="green form-control" >+ Agrega más Relaciones para el Item, selecciona el ítem con el cual relacionar y la dirección que tendrá la relación</h7></div>
                <br>
                <br>
                <table  id="addparts">
                    <tr>

                        <td>
                            <input class="form-control" placeholder="Ingrese nombre"  readonly  type="text" name="item_nombre" step="any" value="{{item.nombre}}" required>
                        </td>
                        <td>
                            <select name="direccion"  class="form-control">
                                <option value="0">Seleccione Dirección  ---> <--- </option>
                                <option value="2">Fin <--- Inicio</option>
                                <option value="1">Inicio ---> Fin</option>
                            </select>
                        </td>
                        <td>
                            <select name="item" id="enc_cliente" class="form-control">
                                <option value="0">Seleccione Item a Relacionar</option>
                                {% for item in todos_actual %}
                                <option value="{{item.id_item}}">{{ item.nombre }} | Fase: {{ item.fase.nombre }}  </option>
                                {% endfor %}
                                {% for item in todos_ant %}
                                <option value="{{item.item.id_item}}">{{ item.item.nombre }} | Fase: {{ item.item.fase.nombre }}  </option>
                                {% endfor %}
                                {% for item in todos_sig %}
                                <option value="{{item.id_item}}">{{ item.nombre }} | Fase: {{ item.fase.nombre }}  </option>
                                {% endfor %}
                            </select>
                        </td>

                    </tr>

                </table>
                {% if not version  %}
                    <div id="div_button">
                    <br>
                    <br>
                    <br>
                        <input type="button" class="btn btn-warning lg" name="addmore" value="+ Relaciones" id="addMore">
                        <button type="submit" class="btn btn-primary " ><i class="fa fa-check-circle"></i> Listo</button>
                    </div>
                {% endif %}
            </div>
            <!-- Fin Sección Superior -->

        </div>
    </div>
</div>
</form>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script>

       $(document).ready(function() {

           var id = 1;

           // get item

           var item = $("#addparts");

           var before = $('#div_button');

           // initalize event click

          $('#addMore').on('click', function() {
               // clone addparts
               var clone = item.clone(true);
                   // remove id
                   clone.attr('id', '');
                   // add class duplicate
                   clone.attr('class', 'duplicate');
               // insert duplicate before button div
               before.before(clone);


          });

       });


</script>
{% endblock %}
