{% extends 'creacionProyecto2.html'%}
<title>Atributos</title>
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

{% block title %}
<h1>Completa los atributos del TI!</h1>
{% endblock title%}


<style>
#ocultar{display:none;}
</style>

<!--{% if perms.gestion.crear_item %}-->
    {% block contect %}
        <a class="btn btn-primary" href="{% url 'gestion:itemCancelado'%}" role="button">Cancelar</a>
        <div class="jumbotron">
            <form method="POST" action="" onSubmit="return enviado()" enctype="multipart/form-data">{% csrf_token %}
                {% block content %}
                    <table class="table table-bordered">
                        <form method="POST" action="" onSubmit="return enviado()" enctype="multipart/form-data">{% csrf_token %}
                            <tr>
                                <td>NOMBRE DE ATRIBUTO</td>
                                <td>TIPO DE DATO</td>
                                <td>ES OBLIGATORIO?</td>
                                <td>VALOR</td>
                            </tr>
                            {% for atributos in atributos%}
                                <tr>
                                    <td>{{atributos.nombre}}</td>
                                    <td>{{atributos.tipo_dato}}</td>
                                    <td>{{atributos.es_obligatorio}}</td>
                                        {%if atributos.tipo_dato == 'File' and atributos.es_obligatorio == true %}
                                            <td><input placeholder="Ingrese el valor" type="File" name="File" required></td>
                                        {%endif%}
                                        {%if atributos.tipo_dato == 'File' and atributos.es_obligatorio == false %}
                                            <td><input placeholder="Ingrese el valor" type="File" name="File"></td>
                                        {%endif%}
                                        {%if atributos.tipo_dato == 'Decimal' and atributos.es_obligatorio == true %}
                                            <td><input placeholder="Ingrese el valor" type="number" name="Decimal" step="any" required></td>
                                        {%endif%}
                                        {%if atributos.tipo_dato == 'Decimal' and atributos.es_obligatorio == false %}
                                            <td><input placeholder="Ingrese el valor" type="number" name="Decimal" step="any" ></td>
                                        {%endif%}
                                        {%if atributos.tipo_dato == 'Date' and atributos.es_obligatorio == true %}
                                            <td><input placeholder="Ingrese el valor" type="date" name="Date" required></td>
                                        {%endif%}
                                        {%if atributos.tipo_dato == 'Date' and atributos.es_obligatorio == false %}
                                            <td><input placeholder="Ingrese el valor" type="date" name="Date"></td>
                                        {%endif%}
                                        {%if atributos.tipo_dato == 'String' and atributos.es_obligatorio == true %}
                                            <td><input placeholder="Ingrese el valor" type="text" name="String" required></td>
                                        {%endif%}
                                        {%if atributos.tipo_dato == 'String' and atributos.es_obligatorio == false %}
                                            <td><input placeholder="Ingrese el valor" type="text" name="String"></td>
                                        {%endif%}
                                        {%if atributos.tipo_dato == 'Boolean'%}
                                                <td>
                                                    <STRONG>SELECCIONE</STRONG>
                                                    <select name="Boolean" >
                                                    <option value="">Ninguno</option>
                                                    <option value="True" >True</option>
                                                    <option value="False">False</option>
                                                    </select>
                                                </td>
                                        {%endif%}
                                </tr>
                            {%endfor%}
                        </form>
                    </table>
                {% endblock %}
                <input type="submit" class="btn btn-primary" value="Siguiente">
            </form>
        </div>
    {% endblock %}
<!--{% else %}
        <h1>Usted no es tiene el permiso de crear item</h1>
        <a class="btn btn-primary" href="{%url 'gestion:menu'%}" role="button">Volver al menu principal</a>
    {% endif %}-->