{% extends 'creacionProyecto2.html'%}
<title>Atributos</title>
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}


{% block title %}
<h1>Completa los atributos del TI!</h1>
{% endblock title%}


<style>
#ocultar{display:none;}
</style>

{% block contect %}
<a class="btn btn-primary" href="" role="button">Volver Atras</a>

      <div class="jumbotron">

 <form method="POST" action="" onSubmit="return enviado()">{% csrf_token %}
{% block content %}
<table class="table table-bordered">


    <form method="POST" action="" onSubmit="return enviado()">{% csrf_token %}

    <tr>
        <td>NOMBRE DE ATRIBUTO</td>
        <td>TIPO DE DATO</td>
        <td>ES OBLIGATORIO?</td>
        <td>VALOR</td>
    </tr>
{% for atributos in atributos%}
    <tr>
        <td>{{atributos.nombre}}</td>
        <td>{{atributos.tipo_dato}}</td>
        <td>{{atributos.es_obligatorio}}</td>
        <td><input placeholder="Ingrese el valor" type="text" name="valor"></td>
    </tr>
{%endfor%}

    </form>
</table>
{% endblock %}
     <input type="submit" class="btn btn-primary" value="Siguiente">
 </form>
      </div>
{% endblock %}
