<title>Agrega Usuarios</title>
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

<h1>Añade usuarios a tu proyecto!</h1>

<style>
#ocultar{display:none;}
</style>

{% block contect %}
        <div>
            <a class="btn btn-primary" href="{%url 'gestion:Proyectocancelado'%}" role="button">Cancelar</a>
        </div>

      <div class="jumbotron">

 <form method="POST" action="">{% csrf_token %}
{% block content %}
<table class="table table-bordered">
    <form method="POST" action="">{% csrf_token %}
        <tr>
                    <td><h4>NOMBRE</h4></td>
                    <td><h4>CORREO</h4></td>
        </tr>
        {%for list in list %}
          {%for i in form%}
                {%if list == i.user.id%}
        <tr><td>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="checkbox" value="{{i.user.id}}" id="{{i.user.id}}}">
                    <label class="form-check-label" for="{{i.user.id}}}"><h5>{{ i.user.username }}</h5></label>
                </div>
        </td>
            <td>{{ i.user.email }}</td>
        </tr>
            {%endif%}
    {%endfor%}
    {%endfor%}

    </form>
</table>
{% endblock %}
     <input class="btn btn-primary" type="submit"  value="Guardar">
 </form>
      </div>
{% endblock %}
