<title>Agrega Usuarios</title>
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

<h1>Añade usuarios a tu proyecto!</h1>

<style>
#ocultar{display:none;}
</style>

{% block contect %}
        <div>
            <a class="btn btn-primary" href="/cancelado/" role="button">Cancelar</a>
        </div>

      <div class="jumbotron">

 <form method="POST" action="">{% csrf_token %}
{% block content %}
<table class="table table-bordered">
    <form method="POST" action="">{% csrf_token %}

        {%for list in list %}
          {%for i in form%}
                {%if list == i.id%}
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="checkbox" value="{{i.id}}" id="{{i.id}}}">
                    <label class="form-check-label" for="{{i.id}}}"><h5>{{ i.username }}</h5></label>
                </div>
            {%endif%}
    {%endfor%}
    {%endfor%}

    </form>
</table>
{% endblock %}
     <input type="submit"  value="Guardar">
 </form>
      </div>
{% endblock %}
