{% extends 'creacionProyecto2.html'%}
{% block title %}
        <h1>Creacion de Fases</h1>
    {% endblock title %}

{% block contect %}

{% if  perms.gestion.is_gerente %}


    <title>Crear Fases</title>
    <meta charset = "UTF-8">

        <form method= "POST" onSubmit="return enviado()">
            {% csrf_token %}

            {{ form.as_p}}
            <div>
                <input class="btn btn-primary" type = 'submit' value = 'Guardar' />
            </div>
        </form>

        <div>
            <a class="btn btn-primary" href="{%url 'gestion:Proyectocancelado'%}" role="button">Cancelar</a>
        </div>


{% else  %}
    <h1>Usted no es gerente de este proyecto, por tanto no puede crear fases</h1>
    <a class="btn btn-primary" href="{%url 'gestion:menu'%}" role="button">Volver al menu principal</a>
{% endif %}

    {% endblock contect %}