{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

{% block title %}
    <h1>Creacion de Proyecto</h1>
{% endblock title%}

{% block contect %}
    {% if perms.gestion.is_gerente %}
        <a class="btn btn-primary" href="{%url 'gestion:menu'%}" role="button">Volver Atras</a>
        <div class="jumbotron">
            <form method="POST"  action="" onSubmit="return enviado()">{% csrf_token %}
                {{ formProyecto.as_p }}
                <input type="submit" class="btn btn-primary" value="Guardar">
            </form>
          </div>
    {% else %}
        <h1>Usted no es gerente de este proyecto, por tanto no puede crear proyectos</h1>
        <a class="btn btn-primary" href="{%url 'gestion:menu'%}" role="button">Volver al menu principal</a>
    {% endif %}
{% endblock %}

{% block click %}
<script LANGUAGE="JavaScript">
        var cuenta=0;
        function enviado() {
                if (cuenta == 0)
            {
                cuenta++;
                return true;
            }
            else
            {
                return false;
            }
        }
</script>
{% endblock click %}
