{% load guardian_tags %}
{% get_obj_perms request.user for proyectos as "proyecto_perms" %}
    <title>Detalles de Proyecto</title>
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

<html>
<head>
<style>
.cities {
  background-color: silver;
  color: white;
  margin: 20px;
  padding: 20px;
}
</style>
</head>
<body>

<div class="cities">
<table class="table table-bordered">
<a class="btn btn-primary" href="{%url 'gestion:listar_proyectos' %}" role="button">Volver Atras</a>
      <thead>

    <tr>
        <td>NOMBRE DE PROYECTO</td>
        <td>DESCRIPCION</td>
        <td>ESTADO</td>
    </tr>

    </thead>
<thead>
<tr>
        <td><h2>{{proyectos.nombre}}</h2></td>
        <td><h4>{{proyectos.descripcion}}</h4></td>
        <td><h2>{{proyectos.estado}}</h2></td>
</tr>
</thead>
</table>
</div>


<div class="cities">
<table class="table table-bordered">

    <thead>
    <tr>
        <td>FASES</td>
        <td>DESCRIPCION</td>
        <td>ESTADO</td>
        <td>ESTADO DE FASES</td>
        {% if "is_gerente" in proyecto_perms %}
            {% if proyectos.estado != 'CANCELADO' %}
            <td>AGREGA TI</td>
            <td>IMPORTA TI</td>
            {% endif %}
        {% endif %}
        <td>TRABAJAR!</td>

    </tr>
    </thead>
    <tbody>
        {%for fases in fases %}
        {% if fases.id_Proyecto == proyectos  %}

        <tr>
            <td>{{fases.nombre}}</td>
            <td>{{fases.descripcion}}</td>
            <td>{{fases.estado}}</td>
            {% if "is_gerente" in proyecto_perms %}
            <td><a href=""class="btn btn-primary">CAMBIAR ESTADO</a></td>
            {%else%}
            <td>No es gerente</td>
            {%endif%}

            {% if "is_gerente" in proyecto_perms %}
                {% if proyectos.estado != 'CANCELADO' %}
                <td><a href="{% url 'gestion:tipo_item_views_create' fases.id_Fase %}" class="btn btn-primary">Crear Tipo Item</a> </td>
                <td><a href="{% url 'gestion:importar_tipo_item' fases.id_Fase %}" class="btn btn-primary">Importar Tipo Item</a> </td>
                {% endif %}
            {% endif %}
            <td><a href="{% url 'gestion:detallesFase' fases.id_Fase %}" class="btn btn-primary">DETALLES</a></td>
        </tr>
        {%endif%}
        {%endfor%}
<tbody>
  </table>
 </div>
</body>
</html>

    <div class="cities">
<table class="table table-bordered">
      <thead>
    <tr>
            <td><a href="{% url 'gestion:UsersProyecto' proyectos.id_proyecto %}" class="btn btn-primary">USUARIOS DEL PROYECTO</a></td>
        {% if "is_gerente" in proyecto_perms %}
                {% if proyectos.estado != 'CANCELADO' %}
            <td><a href="{% url 'gestion:AggUser' proyectos.id_proyecto %}"class="btn btn-primary">✚ USUARIOS</a></td>
                  <td><a href=""class="btn btn-primary">✚ FASES</a></td>
                  <td><a href="{% url 'gestion:misRoles' proyectos.id_proyecto %}"class="btn btn-primary">✚ ROL</a></td>
                {% endif %}
        {% endif %}
            <td><a href="{% url 'gestion:listar_tipo_item' proyectos.id_proyecto %}"class="btn btn-primary">VER TI DEL PROYECTO</a></td>
    </tr>
    </thead>
</table>
</div>
