{% extends 'Menu.html' %}
{% block body %}
    <br>
    <center><h2> Lista de atributos del tipo de item <strong>"{{ tipo_item.nombre}}"</strong>  </h2></center>

    <hr>
    {% if atributos %}
          <form method='POST' onSubmit="return enviado()">
          {% csrf_token%}

        <table class="table table-bordered">
            <thead>
                <th> Nombre del atributo</th>
                <th> Seleccione para eliminar</th>
            </thead>
            {% for atributo in atributos%}
            <tbody>
                <tr>
                    <td> {{atributo.nombre}}</td>
                    <td>
                           <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="checkbox" value="{{atributo.id_atributo}}"
                                       id="{{atributo.id_atributo}}">
                                <label class="form-check-label" for="{{atributo.id_atributo}}">
                                    Selecciona para eliminar
                                </label>
                            </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <input class="btn btn-primary" type='submit' value='Eliminar'/>
        </form>
    {%else%}
            <h2>Este tipo  de item {{tipo_item.nombre}} no tiene atributos para eliminar</h2>
    {%endif%}
{% endblock %}
