{% extends 'creacionProyecto2.html'%}
<title>Relaciones</title>
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}


{% block title %}

<table class="table table-bordered" >

<td><h2>Relaciones del item de nombre {{itemActual.nombre}}</h2></td>

</table>
    {% endblock title%}

<style>
#ocultar{display:none;}
</style>

{% block contect %}
<a class="btn btn-primary" href="javascript:history.back()" role="button">Volver Atras</a>

      <div class="jumbotron">

 <form method="POST" action="" onSubmit="return enviado()">{% csrf_token %}
{% block content %}
<table class="table table-bordered">


    <form method="POST" action="" onSubmit="return enviado()">{% csrf_token %}

    <tr>
        <td>NOMBRE DE ITEM</td>
        <td>NOMBRE DE FASE A LA QUE PERTENECE</td>
        <td>TIPO DE RELACION</td>
    </tr>
{% for relaciones in relaciones%}
    {% for item in item%}
    <tr>
        {%if item.id_item == relaciones.inicio_item and itemActual.id_item == relaciones.fin_item%}
        <td>{{item.nombre}}</td>
        <td>{{item.fase.nombre}}</td>
        {%if itemActual.fase.id_Fase == item.fase.id_Fase%}
            <td>Es padre del item {{itemActual.nombre}}</td>
        {%endif%}
        {%if itemActual.fase.id_Fase > item.fase.id_Fase%}
            <td>Es antecesor del item {{itemActual.nombre}}</td>
        {%endif%}
        {%if itemActual.fase.id_Fase < item.fase.id_Fase%}
            <td>Es sucesor del item {{itemActual.nombre}}</td>
        {%endif%}

        {%endif%}
        {%if item.id_item == relaciones.fin_item and itemActual.id_item == relaciones.inicio_item%}
        <td>{{item.nombre}}</td>
        <td>{{item.fase.nombre}}</td>
        {%if itemActual.fase.id_Fase == item.fase.id_Fase%}
            <td>Es hijo del item {{itemActual.nombre}}</td>
        {%endif%}
        {%if itemActual.fase.id_Fase > item.fase.id_Fase%}
            <td>Es antecesor del item {{itemActual.nombre}}</td>
        {%endif%}
        {%if itemActual.fase.id_Fase < item.fase.id_Fase%}
            <td>Es sucesor del item {{itemActual.nombre}}</td>
        {%endif%}
        {%endif%}

    </tr>

        {%endfor%}
{%endfor%}

    </form>
</table>
{% endblock %}

 </form>
      </div>
{% endblock %}






