{%extends 'Menu.html'%}
{%block body%}
<h2> Listar Archivos</h2>
    <table class="table">
       <thead>
            <tr>
                <th>Titulo</th>
                <th>Autor </th>
                <th>Descarga</th>
            </tr>
        </thead>
        <tbody>
     {% for book in books%}
            <tr>
                <td>{{book.title}}</td>
                <td>{{book.autor}}</td>
                <td>{{book.pdf}}</td>
                <td> <a href=" url('{{book.pdf.url}}')" class="btn btn-primary btn-sm" target="_blank">Descargar </a>  </td>
            </tr>
     {%endfor%}
        </tbody>

    </table>

{% endblock %}