<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lista de Usuarios</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <br><br>
    <li class="list-group-item">
       <a href="javascript:history.back()" class="btn btn-primary"> Volver atras</a>

    </li>
    <div class="card">
        <div class="card-header">
            <strong class="card-title">Lista de Usuarios</strong>
        </div>
        <div class="table-stats order-table ov-h">
            <table class="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Usuario</th>
                        <th>Email</th>
                        <th><strong>Estado</strong></th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in object_list %}
                        <tr>
                            <td>{{ user.id }}</td>
                            <td>{{ user.username }}</td>
                            <td>{{ user.email }}</td>

                            <td><strong>En Espera</strong></td>
                            <td>
                                <a href="#" class="btn btn-primary">Editar</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

    </div>
</body>
</html>
