{%extends 'detallesProyecto.html'%}

<title>Atributos</title>
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}


{% block title %}
<h1>Atributos del TI!</h1>
{% endblock title%}

{% block interno %}

    <style>
    #ocultar{display:none;}
    </style>

    {% block contect %}
    <a class="btn btn-primary" href="javascript:history.back()" role="button">Volver Atras</a>

          <div class="jumbotron">

     <form method="POST" action="" onSubmit="return enviado()">{% csrf_token %}
    {% block content %}
    <table class="table table-bordered">

        <form method="POST" action="" onSubmit="return enviado()">{% csrf_token %}

        <tr>
            <td><h5>VALOR ACTUAL</h5></td>
            <td>NOMBRE DE ATRIBUTO</td>
            <td>TIPO DE DATO</td>
            <td>ES OBLIGATORIO?</td>
            <td><h5>PUEDE CAMBIARLO SI LO DESEA</h5></td>
        </tr>

            {% for atributos in atributos%}
                {% for atributo in atributo%}
                    {% if atributos.idAtributoTI == atributo.id_atributo%}
                        <tr>
                                <td>{{atributos.valor}}</td>

                                <td>{{atributo.nombre}}</td>
                                <td>{{atributo.tipo_dato}}</td>
                                <td>{{atributo.es_obligatorio}}</td>

                                    {%if atributo.tipo_dato == 'File'%}
                                        <td><input placeholder="Añada archivo" type="File" name="File"></td>
                                    {%endif%}

                                    {%if atributo.tipo_dato == 'Decimal'%}
                                        <td><input placeholder="Ingrese el valor" type="number" name="Decimal"></td>
                                    {%endif%}

                                    {%if atributo.tipo_dato == 'Date'%}
                                        <td><input placeholder="Ingrese el valor" type="date" name="Date"></td>
                                    {%endif%}

                                    {%if atributo.tipo_dato == 'String'%}
                                        <td><input placeholder="Ingrese el valor" type="text" name="String"></td>
                                    {%endif%}

                                    {%if atributo.tipo_dato == 'Boolean'%}
                                            <td>
                                                <STRONG>SELECCIONE</STRONG>
                                                <INPUT TYPE="radio" NAME="Boolean" VALUE="True">True
                                                <INPUT TYPE="radio" NAME="Boolean" VALUE="False">False
                                            </td>
                                    {%endif%}
                        </tr>
                    {%endif%}
                {%endfor%}
            {%endfor%}

        </form>
    </table>
    {% endblock %}
         <input type="submit" class="btn btn-primary" value="Siguiente">
     </form>
          </div>
    {% endblock %}
{% endblock interno %}