{% extends 'Menu.html' %}
{% block title %} Administrador del Sistema {% endblock %}
{% block campos %}
  <li class="active"><a href="/menu/">Inicio</a></li>
  <li><a href="{% url 'gestion:perfil' %}">Perfil</a></li>
    {% if perms.gestion.es_administrador %}
        <li><a href="{% url 'gestion:ver_usuarios_aprobados' %}">Usuarios_Aceptados</a></li>
    {% endif %}
  <li><a href="{% url 'gestion:logout' %}">Cerrar_Sesion</a></li>
  <li><a href="#">Ayuda</a></li>
  <li><a href="/Contactos/">Contacto</a></li>
{% endblock campos %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

  {% block body%}
      <div class="jumbotron">
        <h1>Es administrador del sistema</h1>
        <p class="lead">Debera de aceptar usuarios que se hayan registrado en el SSO para que pertenezcan al sistema, por favor labure</p>
        <a class="btn btn-large btn-success" href="http://localhost:8000/enEspera/">Valide usuarios!</a>
      </div>
  {% endblock body %}

  <div class="footer">
        <p>&copy; FPUNA 2020 ADMIN</p>
  </div>


</html>