{% extends 'Menu.html' %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
              {% block campos %}
                  <li class="active"><a href="/menu/">Inicio</a></li>
                  <li><a href="perfil/">Perfil</a></li>
                  <li><a href="logout/">Cerrar_Sesion</a></li>
                  <li><a href="#">Ayuda</a></li>
                {% endblock campos %}
  <body>
  {%block body %}
  <div class="container">
      <div class="masthead">
        <h3 class="muted">Gestión de Item</h3>
      </div>
      <!-- Jumbotron -->
      <div class="jumbotron">
        <h1>Aguarde a ser aceptado en el sistema</h1>
        <p class="lead">Debera de aguardar a ser aceptado por el administrador del sistema, le estara llegando un correo
        electrónico cuando sea aceptado
        </p>
                <a class="btn btn-large btn-success" href="/menu/"><h4>Le llego el correo de aprobado? presione aquí!</h4></a>
      </div>

    </div> <!-- /container -->

  {%endblock%}
  </body>
</html>
