{% extends 'MenuAdminSistema.html' %}


{% block body %}
<body>
    {% if object_list %}
    <br><br>
    <li class="list-group-item">
       <a href="javascript:history.back()" class="btn btn-primary"> Volver atras</a>

    </li>
    <div class="card">
        <div class="card-header">
            <strong class="card-title">Mis Roles</strong>
        </div>
        <div class="table-stats order-table ov-h">
            <table class="table">
                <thead>
                    <tr>
                        <th>Nombre del Rol</th>
                        <th><strong>Editar</strong></th>
                    </tr>
                </thead>
                <tbody>
                    {% for rol in listGroup %}
                        <tr>

                            <td>{{ rol.nombre }}</td>

                            <td>
                                <a href="{% url 'gestion:modificarRol' rol.grupo.id %}" class="btn btn-primary">Editar</a>
                            </td>
                        </tr>
                    {% endfor %}

                </tbody>
            </table>


        </div>

    </div>

    {% else %}
        <h1>No existe usuarios</h1>
    {% endif %}
    <a href="{% url 'gestion:crearRol' idProyecto %}" class="btn btn-primary">Crear Rol</a>
</body>
{% endblock body%}

