{% extends 'Menu.html' %}
{% block body %}
<a class="btn btn-primary" href="{% url 'gestion:listar_proyectos' %}" role="button">Volver Atras</a>
    {% if fases%}
        <h3> Fases del {{ proyecto.nombre }}</h3>
        <div class="list-group">
            {% for fase in fases %}
                 <a href="{% url 'gestion:get_fase_proyecto' fase.id_Fase %}" class="list-group-item list-group-item-action " > {{fase.nombre}}</a>
             {% endfor %}
        </div>
    {%else%}
        <h2>Este Proyecto aun no tienen Fase</h2>
    {% endif %}


{%endblock%}

