{% extends 'Menu.html' %}
{% block body %}
    <br>
    <a class="btn btn-primary" href="{% url 'gestion:ver_proyecto' fase.id_Proyecto_id  %}" role="button">Volver Atras</a>
    <br>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-3">
                <a href="{% url 'gestion:tipo_item_views_create' fase.id_Fase %}" class="btn btn-primary">Crear Tipo Item</a>
                <hr>
                <a href="{% url 'gestion:importar_tipo_item' fase.id_Fase %}" class="btn btn-primary">Importar Tipo Item</a>
                <hr>
                <a href="#" class="btn btn-primary">Agg Tipo Item Item</a>
                <hr>
                <a href="#" class="btn btn-primary">Crear Linea Base</a>
                <hr>
                <a href="#" class="btn btn-primary">Crear Rol</a>
            </div>
            <div class="col-8 " >
                <h2 >La fase aun no tiene items</h2>

            </div>
        </div>
    </div>
    <hr>

{%endblock%}
