
    <title>Mis proyectos</title>
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}


{% block content %}
    <div class="cities">
        <h1>Mis Proyectos</h1>
<a class="btn btn-primary" href="/menu/" role="button">Volver Atras</a>
<table class="table table-bordered">
    <thead>
    <tr>
        <td>Nombre de proyecto</td>
        <td>ID</td>
        <td>Descripcion</td>
        <td>Estado del proyecto</td>
        <td>Cambiar Estado</td>
        <td><h5>Echa un vistazo!</h5></td>

    </tr>
    </thead>
    <tbody>
    {% if proyectos%}
    {%for proyectos in proyectos%}

        {%for list in list %}
        {% if list == proyectos.id_proyecto  %}
        <tr>
            <td>{{proyectos.nombre}}</td>
            <td>{{proyectos.id_proyecto}}</td>
            <td>{{proyectos.descripcion}}</td>
            <td>{{proyectos.estado}}</td>

        {% if proyectos.estado == "CANCELADO"  %}
            <td>CANCELADO</td>
        {%else%}
            <td><a href="{% url 'gestion:estado_Proyecto' proyectos.id_proyecto%}"class="btn btn-primary">Estados</a></td>
        {%endif%}

            <td><a href="{% url 'gestion:detalles_Proyecto' proyectos.id_proyecto%}" class="btn btn-primary">Ver detalles</a></td>

        </tr>
        {%endif%}
        {%endfor%}

    {%endfor%}
{% else %}
    <h1>No se encuentra asociado a ningun proyecto :(</h1>
    {% endif %}
    </tbody>

</table>
    </div>
{% endblock %}

    <head>
<style>
.cities {
  background-color: silver;
  color: white;
  margin: 20px;
  padding: 20px;
}
</style>
</head>