{%extends 'proyectos/base.html'%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    {%block title%}
        <title>Añadir usuarios</title>
    {%endblock%}
</head>
<body>
    {%block volver_atras %}
    <a class="btn btn-primary" href="{% url 'gestion:detalles_Proyecto' pk%}" role="button">Volver Atras</a>
    {%endblock %}

    {% block interno %}

 <div class="card shadow mb-4">
  <!-- Card Header - Dropdown -->
  <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
    <h6 class="m-0 font-weight-bold text-primary">Añade usuarios a tu proyecto!</h6>

  </div>
  <!-- Card Body -->
  <div class="card-body">
          <form method="POST" action="" onSubmit="return enviado()">{% csrf_token %}
    {% if not list %}
    <div class="alert alert-info">No Hay Usuarios que añadir al Proyecto</div>
    {% endif %}
                <table
                    id="table"
                    data-toggle="table"
                    data-pagination="true"
                    data-search="true"
                    data-show-refresh="true"
                    data-show-export="true"
                    data-show-columns="true"
                    data-show-toggle="true"
                    data-show-fullscreen="true"
                    data-toolbar=".buttons-toolbar"
                    data-locale="es-NI"
                    data-page-list="[10, 25, 50, 100, all]"
                    data-detail-formatter="detailFormatter"
                    data-minimum-count-columns="2"
                    data-show-pagination-switch="true"
                    data-id-field="id"
                      >
                        <thead>
                            <th data-field="fecha_vence" data-sortable="true" >Nombre</th>
                            <th data-field="estado" data-sortable="true" >Correo</th>


                        </thead>
                        <tbody>
                          {%for list in list %}
                                    {%for i in form%}
                                        {%if list == i.user.id%}
                                            <tr>
                                                <td>
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="checkbox" name="checkbox" value="{{i.user.id}}" id="{{i.user.id}}}">
                                                        <label class="form-check-label" for="{{i.user.id}}}"><h5>{{ i.user.username }}</h5></label>
                                                    </div>
                                                </td>
                                                <td>{{ i.user.email }}</td>
                                            </tr>
                                        {%endif%}
                                    {%endfor%}
                                {%endfor%}
                                <input type="submit" class="btn btn-primary" value="Guardar">
                        </tbody>
                </table>
          </form>
    </div>
</div>

{% endblock interno %}
</body>
</html>