{%extends 'proyectos/base.html'%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    {%block title%}
        <title>Comite de proyecto</title>
    {%endblock%}
</head>
<body>

{% block interno%}
    <div class="card shadow mb-4">

          <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary">Selecciona los Roles a asignar al Usuario:</h6>
          </div>
          <!-- Card Body -->
          <div class="card-body">

              <form method="POST">{% csrf_token%}
                   <table class="table table-bordered">
                       <thead class="thead-light">
                            <tr>
                              <th scope="col">Lista de Roles</th>
                            </tr>
                       </thead>
                       <tbody>

                        {% for rol in roles %}
                               <tr>
                                {% if rol.ban == 1 %}
                                    <div class="form-group">
                                       <td> <input id="{{rol.nombre_lindo}}" type="checkbox" name='roles' value="{{rol.nombre_real}}" checked >
                                            <label for="{{rol.nombre_lindo}}" class=" ml-2 form-check-label">
                                                {{rol.nombre_lindo}}
                                             </label>
                                        </td>
                                    </div>
                                {% else %}
                                    <div class="form-group">
                                        <td> <input id="{{rol.nombre_lindo}}" type="checkbox" name='roles' value="{{rol.nombre_real}}" >
                                            <label for="{{rol.nombre_lindo}}" class=" ml-2 form-check-label">
                                                {{rol.nombre_lindo}}
                                             </label>
                                        </td>
                                    </div>
                                {%endif%}
                                </tr>
                            {%endfor%}
                       </tbody>
                   </table>
                  <input class="btn btn-primary" type='submit' value= 'Guardar' />
              </form>
          </div>
    </div>

{%endblock%}