{%extends 'base.html'%}


           {% block url%}
               {% load guardian_tags %}
                {% get_obj_perms request.user for proyectos as "proyecto_perms" %}
            <a href="{% url 'gestion:detalles_Proyecto' proyectos.id_proyecto%}"> {{proyectos.nombre}}</a></div></div>
            <li><a href="{% url 'gestion:menu' %}">Menu</a></li>
            <li><a href="{% url 'gestion:perfil' %}">Perfil</a></li>
            <li><a href="{%url 'gestion:listar_proyectos'%}">Ver proyectos</a></li>

            <li><a href="{% url 'gestion:UsersProyecto' proyectos.id_proyecto %}" >Usuarios del proyecto</a></li>
            {% if "is_gerente" in proyecto_perms %}
                {% if proyectos.estado != 'CANCELADO' %}
                   <li><a href="{% url 'gestion:estado_Proyecto' proyectos.id_proyecto%}">Estado Proyecto</a></li>
                    <li><a href="{% url 'gestion:AggUser' proyectos.id_proyecto %}">✚ Usuarios</a></li>
                     <li><a href="{% url 'gestion:misRoles' proyectos.id_proyecto %}">✚ Rol</a></li>
                {% endif %}
            {% endif %}
            <li><a href="{% url 'gestion:listar_tipo_item' proyectos.id_proyecto %}">Ver TI del proyecto</a></li>
            <li><a href="{% url 'gestion:comite' proyectos.id_proyecto %}">Comite de cambio</a></li>
            <li><a href="{% url 'gestion:auditoriaProyecto' proyectos.id_proyecto%}">Auditoria proyecto</a></li>

            <li><a href="{% url 'gestion:Contactos' %}">Contáctanos</a></li>
            <li><a href="{% url 'gestion:logout' %}">Cerrar Sesion</a></li>
            <li><a href="{% url 'gestion:bandeja_mensajes' proyectos.id_proyecto %}">Solicitud de Cambio</a></li>
            <li><a href="{% url 'gestion:notificaciones' proyectos.id_proyecto %}">Bandeja de Notificaciones</a></li>

         {%endblock%}



                {%block volver_atras %}
                    <a class="btn btn-primary" href="javascript:history.back()" role="button">Volver Atras</a>
                {%endblock %}


                {%block titulo_proyecto %}
              <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                   <div class="card-body">

                            <table class="table table-striped table-hover">
                                <thead>
                                            <td>NOMBRE DE PROYECTO</td>
                                            <td>DESCRIPCION</td>
                                            <td>ESTADO</td>
                                </thead>
                                <tbody>
                                    <td>{{proyectos.nombre}}</td>
                                    <td>{{proyectos.descripcion}}</td>
                                    <td>{{proyectos.estado}}</td> </tr>

                                </tbody>
                            </table>
                        </div>
              </div>
                {% endblock %}

                {%block interno %}


                    <h1>sin contenido</h1>
                {% endblock interno %}
