{%extends 'proyectos/base.html'%}

    {%block title%}
        <title>Crear TI</title>
    {%endblock%}

{% block interno %}
{% load guardian_tags %}
{% get_obj_perms request.user for proyectos as "proyecto_perms" %}


{% if "is_gerente" in proyecto_perms %}
   <div class="card shadow mb-4">
  <!-- Card Header - Dropdown -->
  <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
    <h6 class="m-0 font-weight-bold text-primary">Crear TI</h6>

  </div>
  <!-- Card Body -->
  <div class="card-body">
        <table class="table table-bordered">
                <form  method='POST' onSubmit="return enviado()">{% csrf_token%}
                    {{tipo_item_form.as_p}}
                    <input class="btn btn-primary" type='submit' value= 'Siguiente' />

                </form>
        </table>
    </div>
    </div>

    {%else%}
    <h1> Usted no es gerente de Proyecto para este {{proyecto.nombre}}, No puede crear Tipo de Item</h1>
{% endif %}

{% endblock %}