{%extends 'proyectos/base.html'%}

    {%block title%}
        <title>Crear Atributos</title>
    {%endblock%}


{% block interno %}
     <div class="card shadow mb-4">
      <!-- Card Header - Dropdown -->
          <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary">Atributos</h6>

          </div>
          <!-- Card Body -->
          <div class="card-body">
            <form  method='POST' onSubmit="return enviado()">{% csrf_token%}
                {{ formset.management_form }}
                {% for form in formset %}
                    <h2> Atributo {{ forloop.counter }}  </h2>
                    <div class="form-group">
                        <label>{{form.nombre.label}}</label>
                            {{form.nombre}}
                    </div>
                    <div class="form-group">
                        {{form.es_obligatorio}}
                        <label class="form-check-label" for="defaultCheck1">
                            {{form.es_obligatorio.label}}
                        </label>
                    </div>
                    <div class="form-group">
                        <label>{{form.tipo_dato.label}}</label>
                        {{form.tipo_dato}}
                    </div>

                    <br>
                    <br>
                {% endfor %}
                <input class="btn btn-primary" type='submit' value= 'Save' />
            </form>
          </div>
     </div>
{% endblock %}
