{% extends 'Menu/base.html' %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

{% block title %}
    <title>Creación de Fases</title>
{% endblock title %}

{% block interno %}

    <div class="card shadow mb-4">

    <div class="card-body">
            {% if  perms.gestion.is_gerente %}

            <h1>Crear Fases</h1>
            <meta charset="UTF-8">

            <form method="POST" onSubmit="return enviado()">
                
                <div>
                    <h6 class="m-0 font-weight-bold text-primary">Fase: {{ cantidad_fases-1}}</h6>
                </div>
                {% csrf_token %}

                {{ form.as_p}}
                <div>
                    <input class="btn btn-primary" type='submit' value='Guardar'/>
                </div>
            </form>

            <div>
                <a class="btn btn-danger" href="{%url 'gestion:Proyectocancelado'%}" role="button">Cancelar</a>
            </div>
        </div>
    </div>

{% else  %}
    <h1>Usted no es gerente de este proyecto, por tanto no puede crear fases</h1>
    <a class="btn btn-primary" href="{%url 'gestion:menu'%}" role="button">Volver al menu principal</a>
{% endif %}
{% block click %}
<script LANGUAGE="JavaScript">
        var cuenta=0;
        function enviado() {
                if (cuenta == 0)
            {   
                cuenta++;
                return true;
            }
            else
            {
                return false;
            }
        }
</script>
<script type="text/javascript" id="suma">
    function Suma(fase, n)
    {   
        return (parseInt(document.getElementById(fase)) + parseInt(document.getElementById(n)))
    }

</script>
{% endblock click %}

{% endblock interno %}