{%extends 'proyectos/base.html'%}


    {%block title%}
        <title>Detalles de Proyectos</title>
    {%endblock%}
{%block volver_atras %}
    <a class="btn btn-primary" href="{%url 'gestion:listar_proyectos' %}" role="button">Volver Atras</a>
{%endblock %}

{%block interno %}
    {% load guardian_tags %}
    {% get_obj_perms request.user for proyectos as "proyecto_perms" %}

    <html>
    <body>
    <div class="cities">
        <table class="table table-bordered">
            <thead>
            <tr>
                <td>FASES</td>
                <td>DESCRIPCION</td>
                <td>ESTADO</td>
                <td>ESTADO DE FASES</td>
                {% if "is_gerente" in proyecto_perms %}
                    {% if proyectos.estado != 'CANCELADO' %}
                        <td>AGREGA TI</td>
                        <td>IMPORTA TI</td>
                    {% endif %}
                {% endif %}
                <td>TRABAJAR!</td>
            </tr>
            </thead>
            <tbody>
            {%for fases in fases %}
                {% if fases.id_Proyecto == proyectos  %}
                    <tr>
                        <td>{{fases.nombre}}</td>
                        <td>{{fases.descripcion}}</td>
                        <td>{{fases.estado}}</td>
                        {% if "is_gerente" in proyecto_perms %}
                            <td><a href=""class="btn btn-primary">CAMBIAR ESTADO</a></td>
                        {%else%}
                            <td>No es gerente</td>
                        {%endif%}
                        {% if "is_gerente" in proyecto_perms %}
                            {% if proyectos.estado != 'CANCELADO' %}
                                <td><a href="{% url 'gestion:tipo_item_views_create' fases.id_Fase %}" class="btn btn-primary">Crear Tipo Item</a> </td>
                                <td><a href="{% url 'gestion:importar_tipo_item' fases.id_Fase %}" class="btn btn-primary">Importar Tipo Item</a> </td>
                            {% endif %}
                        {% endif %}
                        <td><a href="{% url 'gestion:detallesFase' fases.id_Fase %}" class="btn btn-primary">DETALLES</a></td>
                    </tr>
                {%endif%}
            {%endfor%}
            <tbody>
        </table>
    </div>
    </body>
    </html>
{% endblock interno %}
