{%extends 'proyectos/base.html'%}


<html lang="en">
<head>
    <meta charset="UTF-8">
    {%block title%}
        <title>Detalles de Proyectos</title>
    {%endblock%}

</head>
<body>
                {%block volver_atras %}
                {%endblock %}


{%block interno%}
                    {% load guardian_tags %}
                    {% get_obj_perms request.user for proyectos as "proyecto_perms" %}

 <div class="card shadow mb-4">
  <!-- Card Header - Dropdown -->
  <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
    <h6 class="m-0 font-weight-bold text-primary">Lista de Fases de Proyectos</h6>

  </div>
  <!-- Card Body -->
  <div class="card-body">


    {% if not fases %}
    <div class="alert alert-info">No Hay Fases</div>
    {% endif %}

                <table
                    id="table"
                    data-toggle="table"
                    data-pagination="true"
                    data-search="true"
                    data-show-refresh="true"
                    data-show-export="true"
                    data-show-columns="true"
                    data-show-toggle="true"
                    data-show-fullscreen="true"
                    data-toolbar=".buttons-toolbar"
                    data-locale="es-NI"
                    data-page-list="[10, 25, 50, 100, all]"
                    data-detail-formatter="detailFormatter"
                    data-minimum-count-columns="2"
                    data-show-pagination-switch="true"
                    data-id-field="id"
                      >
                        <thead>
                            <th data-field="fecha_vence" data-sortable="true" >FASES</th>
                            <th data-field="estado" data-sortable="true" >ESTADO</th>
                            <th >ESTADO DE FASES</th>
                            {% if "is_gerente" in proyecto_perms %}
                                {% if proyectos.estado != 'CANCELADO' %}

                                    <th>TIPO DE ITEM</th>
                                    <th>ROLES</th>
                                {% endif %}
                            {% endif %}
                            <th>TRABAJAR!</th>
                        </thead>
                        <tbody>
                           {%for fases in fases %}
                            {% if fases.id_Proyecto == proyectos  %}
                                <tr>
                                    <td>{{fases.nombre}}</td>

                                    <td>{{fases.estado}}</td>
                                    {% if "is_gerente" in proyecto_perms %}
                                        <td><a href=""class="btn btn-primary">CAMBIAR ESTADO</a></td>
                                    {%else%}
                                        <td>No es gerente</td>
                                    {%endif%}
                                    {% if "is_gerente" in proyecto_perms %}
                                        {% if proyectos.estado != 'CANCELADO' %}
                                            <td><a href="{% url 'gestion:tipo_item_views_create' fases.id_Fase %}" class="btn btn-primary">Crear TI </a>
                                            <a href="{% url 'gestion:importar_tipo_item' fases.id_Fase %}" class="btn btn-danger"> Importar TI</a> </td>
                                            <td><a href="{% url 'gestion:seleccionar_usuario_rol' fases.id_Fase %}" class="btn btn-primary">Asignar Usuario</a> </td>
                                        {% endif %}
                                    {% endif %}
                                    <td><a href="{% url 'gestion:detallesFase' fases.id_Fase %}" class="btn btn-primary">DETALLES</a></td>
                                </tr>
                            {%endif%}
                        {%endfor%}

                        </tbody>
                </table>
  </div>
</div>

{%endblock%}


