{%extends 'proyectos/base.html'%}

{% block interno %}
    <div class="card shadow mb-4">
  <!-- Card Header - Dropdown -->

      <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <h6 class="m-0 font-weight-bold text-primary">Lista de Tipo de Items del Proyecto</h6>
      </div>
  <!-- Card Body -->
      <div class="card-body">
          {% if TipoItem %}
          <table class="table table-bordered">
              <thead>
                  <th>Nombre Tipo Item</th>
                  <th> Fase que pertenece</th>
                  <th> Editar</th>
                  <th> Eliminar</th>
              </thead>
              <tbody>
                  {% for tipoitem in TipoItem %}
                      {%for tii in tipoitem.ti %}
                          <tr>
                              <td>{{tii.nombre}}</td>
                              <td>{{ tipoitem.fase.nombre}}</td>
                              <td><a class="btn btn-primary" href="{%url 'gestion:editar_ti' tii.id_ti%}" role="button">Editar Tipo
                                  de Item</a></td>
                              <td><a class="btn btn-primary" href="{% url 'gestion:eliminar_tipo_item' tii.id_ti %}" role="button">Eliminar
                                  Tipo de Item</a></td>
                          </tr>
                      {% endfor %}
                  {% endfor %}
              </tbody>
          </table>
          {% else %}
          <div class="alert alert-info">El Proyecto aun no tiene TIpo de items</div>
        {%endif%}
      </div>
    </div>

{% endblock interno %}
