{%extends 'proyectos/base.html'%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    {%block title%}
        <title>Añadir usuarios</title>
    {%endblock%}
</head>
<body>
    {%block volver_atras %}
    <a class="btn btn-primary" href="{% url 'gestion:detalles_Proyecto' pk%}" role="button">Volver Atras</a>
    {%endblock %}

    {% block interno %}
    <h1>Seleccione un Usuario de la Lista </h1>
    <div class="cities">
    <table class="table table-bordered">
          <thead>
          <form method="POST" action="" onSubmit="return enviado()">{% csrf_token %}
                            {%if list%}
                                <tr>
                                    <td><h4>NOMBRE</h4></td>
                                    <td><h4>CORREO</h4></td>
                                </tr>
                                {%for list in list %}
                                    {%for i in form%}
                                        {%if list == i.user.id%}
                                            <tr>
                                                <td>
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="radio" name="radio" value="{{i.user.id}}" id="{{i.user.id}}}">
                                                        <label class="form-check-label" for="{{i.user.id}}}"><h5>{{ i.user.username }}</h5></label>
                                                    </div>
                                                </td>
                                                <td>{{ i.user.email }}</td>
                                            </tr>
                                        {%endif%}
                                    {%endfor%}
                                {%endfor%}
                                <input type="submit" class="btn btn-primary" value="Seleccionar">
                            {%else%}
                                <h1>El proyecto no tiene usuarios</h1>
                            {%endif%}
                        </form>
          </thead>
    </table>
    </div>
{% endblock interno %}
</body>
</html>