{%extends 'Menu/base.html'%}

{%block imports%}
    {% load guardian_tags %}
{%endblock%}

<html lang="en">
<head>
    <meta charset="UTF-8">
    {%block title%}
        <title>Auditoria Gral</title>
    {%endblock%}

</head>
<body>

{%block interno%}
              <!-- Dropdown Card Example -->
              <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">

                  <h6 class="m-0 font-weight-bold text-primary">Listado de Acciones</h6>
                  <h6 class="m-0 font-weight-bold text-primary"><a class="btn btn-primary" href="{%url 'gestion:menu'%}" role="button">Volver Atras</a></h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    {% if not auditoria %}
                        <div class="alert alert-info">No hay Auditoria</div>
                    {% else %}
                    <table
                            id="table"
                            data-toggle="table"
                            data-pagination="true"
                            data-search="true"
                            data-show-refresh="true"
                            data-show-export="true"
                            data-show-columns="true"
                            data-show-toggle="true"
                            data-show-fullscreen="true"
                            data-toolbar=".buttons-toolbar"
                            data-locale="es-NI"
                            data-page-list="[10, 25, 50, 100, all]"
                            data-detail-formatter="detailFormatter"
                            data-minimum-count-columns="2"
                            data-show-pagination-switch="true"
                            data-id-field="id"
                    >
                        <thead>
                            <th data-field="Usuario" data-sortable="true" >Usuario</th>
                            <th data-field="ID" data-sortable="true" >ID proyecto</th>
                            <th data-field="Proyecto" data-sortable="true" >Nombre Proyecto</th>
                            <th data-field="Fase" data-sortable="true">Nombre Fase</th>
                            <th>Accion</th>
                            <th data-field="Fecha" data-sortable="true">Fecha y Hora</th>
                        </thead>
                        <tbody>
                                 {%for auditoria in auditoria%}
                                    <tr>
                                        <td>{{auditoria.usuario}}</td>
                                            {%if auditoria.id_proyecto%}
                                                <td>{{auditoria.id_proyecto}}</td>
                                                <td>{{auditoria.proyecto}}</td>
                                                <td>{{auditoria.fase}}</td>
                                            {%else%}
                                                <td>--</td>
                                                <td>--</td>
                                                <td>--</td>
                                            {%endif%}
                                        <td>{{auditoria.accion}}</td>
                                        <td>{{auditoria.fecha  }}</td>
                                    </tr>
                                {%endfor%}


                        </tbody>
                    </table>
                    {% endif %}
                </div>
              </div>
    <script>
  // Call the dataTables jQuery plugin
  $(document).ready(function() {
    $('.table').DataTable({
      "language": {
        "sProcessing": "Procesando...",
        "sLengthMenu": "Mostrar _MENU_ registros",
        "sZeroRecords": "No se encontraron resultados",
        "sEmptyTable": "Ningún dato disponible en esta tabla",
        "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
        "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
        "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
        "sInfoPostFix": "",
        "sSearch": "Buscar:",
        "sUrl": "",
        "sInfoThousands": ",",
        "sLoadingRecords": "Cargando...",
        "oPaginate": {
            "sFirst": "<span class='fa fa-angle-double-left'></span>",
            "sLast": "<span class='fa fa-angle-double-right'></span>",
            "sNext": "<span class='fa fa-angle-right'></span>",
            "sPrevious": "<span class='fa fa-angle-left'></span>"
        },
        "oAria": {
            "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
            "sSortDescending": ": Activar para ordenar la columna de manera descendente"
        }
      }
    });
  });
  </script>
{%endblock%}


