{%extends 'base.html'%}

                {%block volver_atras %}

                {%endblock %}


                {%block titulo_proyecto %}

                {% endblock %}
    {% block url%}

        <a href="{% url 'gestion:menu' %}"> Menú Principal</a></div></div>
        <li><a href="{% url 'gestion:perfil' %}"><i class="fas fa-user-alt"></i> Perfil</a></li>
        <li><a href="{%url 'gestion:listar_proyectos'%}"><i class="fas fa-list"></i> Lista de Proyectos</a></li>
        {% if perms.gestion.is_gerente %}
            <li><a href="{%url 'gestion:CrearProyecto' %}" ><i class="fas fa-plus"></i> Crear un Proyecto</a></li>
        {% endif %}
        <li><a href="{% url 'gestion:Contactos' %}"><i class="far fa-address-book"></i> Contáctanos</a></li>
        <li><a href="{% url 'gestion:logout' %}"><i class="fas fa-sign-out-alt"></i> Cerrar Sesion</a></li>

    {%endblock%}

