{%extends 'base.html'%}

                {%block volver_atras %}

                {%endblock %}


                {%block titulo_proyecto %}

                {% endblock %}
    {% block url%}
        <a href="{% url 'gestion:menu' %}"> Gestion Items</a></div></div>
        <li><a href="{% url 'gestion:perfil' %}">Perfil</a></li>
        <li><a href="{%url 'gestion:listar_proyectos'%}">Trabaje sobre sus proyectos!</a></li>
        {% if perms.gestion.is_gerente %}
            <li><a href="{%url 'gestion:CrearProyecto' %}" >Usted es un Gerente! Cree un Proyecto!</a></li>
        {% endif %}
        <li><a href="{% url 'gestion:Contactos' %}">Contáctanos</a></li>
        <li><a href="{% url 'gestion:logout' %}">Cerrar Sesion</a></li>
    {%endblock%}

