{%extends 'proyectos/base.html'%}


<html lang="en">
<head>
    <meta charset="UTF-8">
    {%block title%}
        <title>Estado de Proyectos</title>

    {%endblock%}
</head>
<body>
{%block interno%}


          <div class="jumbotron">

                <div class="center">
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#basicExampleModal">Ayuda sobre estados de proyecto</button>
                </div>

            <form method="POST" action="">{% csrf_token %}
              {{ form.as_p }}
                 <input class="btn btn-primary" type="submit"  value="Guardar nuevo estado">
            </form>
              </div>

{%endblock%}


</body>
</html>