{%extends 'Menu/base.html'%}


{% block interno %}
<body>
    {% if object_list %}

    <br><br>
    <li class="list-group-item">
       <a href="javascript:history.back()" class="btn btn-primary"> Volver atras</a>

    </li>
    <div class="card">
        <div class="card-header">
            <strong class="card-title">Lista de Usuarios</strong>
        </div>
        <div class="table-stats order-table ov-h">

            <table class="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Usuario</th>
                        <th>Email</th>
                        <th><strong>Estado</strong></th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in object_list %}
                        <tr>
                            <td>{{ user.user.id }}</td>
                            <td>{{ user.user.username }}</td>
                            <td>{{ user.user.email }}</td>

                            <td><strong>En Espera</strong></td>
                            <td>
                                <a href="{% url 'gestion:userEsperando' user.id %}" class="btn btn-primary">Editar</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

    </div>
    {% else %}
        <h1>No existe usuarios</h1>
    {% endif %}

</body>
{% endblock %}

