{%extends 'Menu/base.html'%}

{%block imports%}
    {% load guardian_tags %}
{%endblock%}

<html lang="en">
<head>
    <meta charset="UTF-8">
    {%block title%}
        <title>Lista de Proyectos</title>
    {%endblock%}

{% block interno %}
            <style>
        .red{
            color: red;
        }
        .green{
            color: green;
        }
    </style>

<div class="card shadow mb-4">
  <!-- Card Header - Dropdown -->
  <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
    <h6 class="m-0 font-weight-bold text-primary">Lista de Proyectos</h6>

  </div>
  <!-- Card Body -->
  <div class="card-body">


    {% if not proyectos %}
    <div class="alert alert-info">No Hay Proyectos</div>
    {% endif %}


      <table
                    id="table"
                    data-toggle="table"
                    data-pagination="true"
                    data-search="true"
                    data-show-refresh="true"
                    data-show-export="true"
                    data-show-columns="true"
                    data-show-toggle="true"
                    data-show-fullscreen="true"
                    data-toolbar=".buttons-toolbar"
                    data-locale="es-NI"
                    data-page-list="[10, 25, 50, 100, all]"
                    data-detail-formatter="detailFormatter"
                    data-minimum-count-columns="2"
                    data-show-pagination-switch="true"
                    data-id-field="id"
                      >
                      <thead>
                          <th data-field="fecha_vence" data-sortable="true" >Nombre de proyecto</th>
                          <th data-field="importe" data-sortable="true" >ID</th>
                          <th data-field="fecha_pago" data-sortable="true" >Descripcion</th>
                          <th data-field="dias_mora" data-sortable="true" >Estado del proyecto</th>
                          <th  >Cambiar Estado</th>
                          <th  >Echa un vistazo!</th>
                      </thead>
                      <tbody>

                {%for proyectos in proyectos%}
                        {% get_obj_perms request.user for proyectos as "proyecto_perms" %}
                            {%for list in list %}
                                {% if list == proyectos.id_proyecto  %}
                                    <tr>
                                        <th>{{proyectos.nombre}}</th>
                                        <th>{{proyectos.id_proyecto}}</th>
                                        <th>{{proyectos.descripcion}}</th>
                                        <th>{{proyectos.estado}}</th>
                                        {% if "is_gerente" in proyecto_perms %}
                                                {% if proyectos.estado == "CANCELADO"  %}
                                                    <th>CANCELADO</th>
                                                {%else%}
                                                    <th><a href="{% url 'gestion:estado_Proyecto' proyectos.id_proyecto%}"class="btn btn-primary"><i class="fas fa-circle-notch"></i> Estados</a></th>
                                                {%endif%}
                                        {%else%}
                                            <th><i class="fas fa-eye-slash"></i> No es gerente</th>
                                        {%endif%}
                                            <th>
                                                <center>
                                                        <a href="{% url 'gestion:detalles_Proyecto' proyectos.id_proyecto%}" title="Ver Fases y detalles del proyecto" class="btn btn-primary"><i class="fas fa-running"></i> Ir</a>
                                                </center>
                                            </th>
                                        </tr>
                                    {% endif %}
                                {%endfor%}
                            {%endfor%}
                      </tbody>
                    </table>
  </div>
</div>
{% endblock %}
