{%extends 'Menu/base.html'%}

<html lang="en">
<head>
    <meta charset="UTF-8">
    {%block title%}
        <title>Menu</title>
    {%endblock%}

</head>
<body>
    {% block url%}
        <a href="{% url 'gestion:menu' %}"> Gestion Items</a></div></div>
        <li><a href="{% url 'gestion:perfil' %}">Perfil</a></li>
        <li><a href="{%url 'gestion:listar_proyectos'%}">Trabaje sobre sus proyectos!</a></li>
        {% if perms.gestion.is_gerente %}
            <li><a href="{%url 'gestion:CrearProyecto' %}" >Usted es un Gerente! Cree un Proyecto!</a></li>
        {% endif %}
        <li><a href="{% url 'gestion:Contactos' %}">Contáctanos</a></li>
        <li><a href="{% url 'gestion:logout' %}">Cerrar Sesion</a></li>
    {%endblock%}
    {%block interno %}
    <!-- Jumbotron -->
        <div class="jumbotron text-center blue-grey lighten-5">
            <!-- Title -->
            <h2 class="card-title h2">Gestion de Items</h2>
            <!-- Subtitle -->
            <h3 class="indigo-text my-4 font-weight-bold">Bienvenido!</h3>
            <!-- Grid row -->
            <div class="row d-flex justify-content-center">
                <!-- Grid column -->
                <div class="col-xl-7 pb-2">
                    <h3>Una herramienta de gestión de items de proyectos diseñada para el trabajo en equipo</h3>
                </div>
                <!-- Grid column -->
            </div>
            <!-- Jumbotron -->                   <!-- Jumbotron -->
            <div class="jumbotron">
                {% if perms.gestion.is_gerente %}
                <button type="button" class="btn btn-large btn-success" data-toggle="modal" data-target="#basicExampleModal"><h5>Usted es un Gerente! Cree un Proyecto!</h5></button>
                {% endif %}
                    <a class="btn btn-large btn-success" href="{%url 'gestion:listar_proyectos'%}"><h4>Trabaje sobre sus proyectos!</h4></a>
            </div>
        </div>
    {% endblock interno %}


            {%block modal-title%}
            <strong>Creacion de Proyecto</strong>
            {%endblock%}

            {%block modal%}
                <h5>Fue seleccionado como gerente para un proyecto, cree el proyecto teniendo en cuenta que solo podra crear un
                proyecto, caso contrario tendra que pedirle nuevamente el permiso al administrador del sistema
                    para crear otro, gracias por utilizar nuestro sistema! Exitos.</h5>
            {%endblock%}
        {%block boton-modal%}
            <a class="btn btn-primary" href="{%url 'gestion:CrearProyecto' %}">Continuar</a>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        {%endblock%}
</body>
</html>