{% extends 'Menu/base.html' %}


    {%block title%}
        <title>En espera</title>
    {%endblock%}
              {% block url %}
                <a href="{% url 'gestion:menu' %}"> Gestion Items</a></div></div>
                <li><a href="{% url 'gestion:perfil' %}">Perfil</a></li>
                <li><a href="{% url 'gestion:Contactos' %}">Contáctanos</a></li>
                <li><a href="{% url 'gestion:logout' %}">Cerrar Sesion</a></li>
                {% endblock url %}
  <body>
  {%block interno %}
  <div class="container">
      <div class="masthead">
        <h3 class="muted">Gestión de Item</h3>
      </div>
      <!-- Jumbotron -->
      <div class="jumbotron">
        <h1>Aguarde a ser aceptado en el sistema</h1>
        <p class="lead">Debera de aguardar a ser aceptado por el administrador del sistema, le estara llegando un correo
        electrónico cuando sea aceptado
        </p>
                <a class="btn btn-large btn-success" href="{%url 'gestion:menu'%}"><h4>Le llego el correo de aprobado? presione aquí!</h4></a>
      </div>

    </div> <!-- /container -->

  {%endblock%}
  </body>
</html>
