{%extends 'Menu/base.html'%}

{%block interno %}

  {% if perms.gestion.es_administrador %}
<div class="cities">
    <br>
    <h3> Nombre del usuario: {{user.username }}</h3>
    <h2>Correo del usuario : {{user.email}}</h2>
    <hr>
    <h2> Asigne los roles y estado del usuario</h2>
</div>
    <div class="container">
        <div class="cities">
         <form method="POST">{% csrf_token%}

            <div class="form-group">
                {% if banAdmin == 'True' %}
                    <input type="checkbox" name="admin" value="True" checked>
                {% else %}
                    <input type="checkbox" name="admin" value="True" >
                {%endif%}
                <label class="form-check-label">
                    {{form.is_admin.label}}
                </label>
            </div>
            <div class="form-group">
                {% if banGerente == 'True' %}
                    <input type="checkbox" name="gerente" value="True" checked>
                {%else%}
                    <input type="checkbox" name="gerente" value="True">
                {%endif%}
                <label class="form-check-label">
                    {{form.is_manager.label}}
                </label>
            </div>

            <div class="form-group">
                <label>{{form.estado.label}}</label>
                {{form.estado}}
            </div>
          <input class="btn btn-primary" type='submit' value= 'Save' />
    </form>
        </div>

    </div>
  {%else%}
    <h3> No es administrador por lo tanto no puedes acceder a esta pagina</h3>
  {%endif%}


{%endblock%}